scipy
vtk
PyQt5
SimpleITK
opencv-python==4.3.0.36
batchgenerators
pandas
medpy
tqdm
pathos
nibabel
itk
itk-elastix
grad-cam
opencv-python-headless==4.1.2.30
opencv-contrib-python==4.3.0.36
albumentations
xlwt
openpyxl
xlrd