vtk==9.1.0
PyQt5==5.9.2
SimpleITK==2.0.2
opencv-python==4.6.0.66
opencv-python-headless
opencv-contrib-python
scipy
batchgenerators
pandas
medpy
tqdm
pathos
nibabel
itk
itk-elastix
grad-cam
albumentations
xlwt
openpyxl
xlrd